.gradle
node_modules
build/
dist/
gradle/newco-build/build/
.dev/tests.xml
.dev/tests*.xml
.dev/*coverage*
.dev/reports

# Added to prevent OSV scanner from thinking these are valid dependencies. When updating
# verification metadata, use `git add -f`.
gradle/verification-metadata.xml
